
.quotes {
    font-family: Lucida Console;
    font-size: 28px;
    color: midnightblue;
}

body {
    background-image: url("Heleni_taustapilt.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    background-color: aliceblue;
    border: solid medium rgb(226, 43, 211);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
	color: blue;
	text-align: center;
	font-size: 50px;
}

body {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	font-family: verdana;
	}

div.Gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}
div.Images {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-gap: 10px;
	row-gap: 100px;
	background-color: aliceblue;
	padding: 50px;
}
 
div.Images > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 0;
	font-size: 10px;
}

div.Gallery:hover {
  border: 1px solid #777;
}

div.Gallery img {
  width: 100%;
  height: auto;
}


div.desc {
  padding: 20px;
  text-align: center;
}







