body {
    background-image: url("Heleni_taustapilt.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.button {
    background-color: aliceblue;
    border: solid medium rgb(226, 43, 211);
    color: black;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

 p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0%;
}