.Valge-kast {
    width: 600px;
    height: auto;
    margin-right: auto;
    background-color: aliceblue;
    border: solid medium rgb(226, 43, 211);
    border-radius: 10px;
    border-spacing: inherit;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 26%;
    bottom: 0%;
}

